<form #userInfoForm=ngForm (ngSubmit)="putUserInfo()">
  <div class="card">
    <div class="card-body">
      <div *ngIf="!show_hide">
        <img *ngIf="imageSrc" [src]="imageSrc" class="rounded-circle" width="45" height="45">
        <input
          type="file"
          (change)="onFileChange($event.target.files)"
          accept="image/*"
        >
      </div>
      <div class="d-flex" *ngIf="show_hide">
        <div class="mr-2">
          <img class="rounded-circle" width="45" [src]="userInfo.profile_img? userInfo.profile_img : default_img" alt="">
        </div>
        <div class="ml-2">
          <div class="h5">{{userInfo.user_name}}</div>
        </div>
      </div>
      <input
        *ngIf="!show_hide"
        type="text"
        name="user_name"
        class="form-control"
        [(ngModel)]="userInfo.user_name"
        required
      >
      <div class="h7 text-muted">{{userInfo.email}}</div>
      <div *ngIf="show_hide" class="h7">{{userInfo.introduce}}</div>
      <textarea
        *ngIf="!show_hide"
        type="text"
        name="introduce"
        class="form-control"
        [(ngModel)]="userInfo.introduce"
      ></textarea>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <div class="h6 text-muted">Followers</div>
            <div class="h5">{{follow_info.follower_cnt}}</div>
          </div>
          <div class="col-md-6">
            <div class="h6 text-muted">Following</div>
            <div class="h5">{{follow_info.following_cnt}}</div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <a (click)="getMyPost('N')">all</a> / <a (click)="getMyPost('Y')">myPost</a>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-4">
            <button
              type="button"
              class="btn btn-primary"
              (click)="setInfo()"
            >modify</button>
          </div>
          <div class="col-md-4">
            <button
              *ngIf="!show_hide"
              type="submit"
              class="btn btn-danger"
              [disabled]="!userInfoForm.form.valid"
            >save</button>
          </div>
          <div class="col-md-4">
            <button
              type="button"
              class="btn btn-warning"
              (click)="signOut()"
            >sign out</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</form>