<div class="card gedf-card" *ngFor="let item of post_list">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-2">
          <img class="rounded-circle" width="45" [src]="item.profile_img? item.profile_img : default_img" alt="">
        </div>
        <div class="ml-2">
          <div
            [ngStyle]="{'color': item.follow_use_yn === 'Y' ? '#007bff' : 'black', 'font-weight': item.follow_use_yn === 'Y' ? 'bold' : 'normal'}"
            class="h5 m-0"
          >{{item.user_name}}</div>
          <div class="h7 text-muted">{{item.email}}</div>
        </div>
      </div>
      <div>
        <div class="dropdown">
          <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
            <div class="h6 dropdown-header">Configuration</div>
            <div *ngIf="item.user_number !== user_info.user_number">
              <a class="dropdown-item" (click)="setFollow(item.user_number, item.post_number)">
                <div *ngIf="item.follow_use_yn !== 'Y'">Follow: {{item.user_name}}</div>
                <div *ngIf="item.follow_use_yn === 'Y'">Unfollow: {{item.user_name}}</div>
              </a>
            </div>
            <div *ngIf="item.user_number === user_info.user_number">
              <a class="dropdown-item" (click)="putRemovePost(item.post_number)">Remove</a>
            </div>
            <a class="dropdown-item" (click)="setHideAndReport(item.post_number, 'H')">Hide</a>
            <a class="dropdown-item" (click)="setHideAndReport(item.post_number, 'R')">Report</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body">
    <div *ngIf="item.img_url">
      <img [src]="item.img_url" height="200">
    </div>
    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{item.create_date}}</div>
    <p class="card-text">{{item.content}}</p>
    <div *ngIf="item.hashtag">
      <span
        style="margin-left: 3px"
        class="badge badge-primary" 
        *ngFor="let tag of item.hashtag_set"
        (click)="tagSearch(tag)"
      >{{tag}}</span>&nbsp;
    </div>
  </div>
  <div class="card-footer" *ngIf="item.user_number !== user_info.user_number" >
    <a
      [ngStyle]="{'color': item.like_use_yn === 'Y' ? '#007bff' : 'black'}"
      class="card-link"
      (click)="setLike(item.post_number)"
    ><i class="fa fa-gittip"></i> Like</a>
  </div>
</div>

<div class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    [fromRoot]="true"
    (scrolled)="setPaging()">
</div>