<div class="card gedf-card" *ngFor="let item of post_list">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-2">
          <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
        </div>
        <div class="ml-2">
          <div class="h5 m-0">{{item.user_name}}</div>
          <div class="h7 text-muted">{{item.email}}</div>
        </div>
      </div>
      <div>
        <div class="dropdown">
          <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
            <div class="h6 dropdown-header">Configuration</div>
            <a class="dropdown-item" href="#">Save</a>
            <a class="dropdown-item" href="#">Hide</a>
            <a class="dropdown-item" href="#">Report</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body">
    <div *ngIf="item.img_url">
      <img src="item.img_url">
    </div>
    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{item.create_date}}</div>
    <p class="card-text">{{item.content}}</p>
  </div>
  <div class="card-footer">
    <a
      class="card-link"
      (click)="setLike()"
    ><i class="fa fa-gittip"></i> Like</a>
  </div>
</div>

<div class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    [fromRoot]="true"
    (scrolled)="setPaging()">
</div>